<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <title th:text="${event.getName()}"></title>
</head>
<body>
<div th:replace="fragments/header"></div>
<h1 class="mx-auto my-1" style="width: -moz-fit-content" th:text="${event.getName()}"></h1>
<div class="w-75 mx-auto">
    <p th:text="${event.getContent()}"></p>
    <p th:text="'Finis le ' + ${event.getEndDateString('dd/MM/yy à hh:mm')}"></p>
</div>
<a th:href="${event.getId()} + '/form/' + ${event.getForm().getId()}"><button class="btn btn-primary">Remplir le formulaire</button></a>
</body>
</html>