h4{
    text-align: center;
    margin: 0.8rem;
}
.card{
    padding: 0 1rem 1rem;
    border: none !important;
}

.card .btn{
    width: fit-content;
    width: -moz-fit-content;
}
.bigCard{
    background-color: white;
    border-radius: .25rem;
    margin: 1rem 0;
}

.cardFooter{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cardFooter div{
    display: inline-block;
}

.cardGroup{
    width: 80%;
    margin: 1rem auto;
}