<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Créer mon Asso</title>
</head>
<body>
<div th:replace="fragments/header"> </div>
<h1 class="mx-auto my-1">Créer mon association</h1>
<div class="formBlock mx-auto w-75">
    <form th:action="${action}" method="post">
        <div th:replace="fragments/formPage :: formPage(${association.getAsMap()})"></div>

        <input class="btn btn-primary my-2" type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>