<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/homePage.css}"/>
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div id="dashboard" class="d-flex justify-content-around flex-wrap">
    <div th:if="${candidateList.size() != 0}" id="candidate" class="cardGroup">
        <h4>Candidatures</h4>
        <div class="bigCard" th:id="${candidate.getId()}" th:each="candidate: ${candidateList}">
            <h5 class="card-title" th:text="${candidate.getPageWithForm().getName()}"></h5>
            <div class="card">
                <p class="card-text" th:text="${candidate.getStatus()}"></p>
                <div class="cardFooter justify-content-right">
                    <a th:if="${candidate.getStatus().equals('en attente')}" class="ajax-btn btn btn-danger"
                       th:href="'/association/' + ${candidate.getPageWithForm().getAssociation().getId()} +
                                '/' + ${candidate.getPageWithForm().getType()} +
                                '/' + ${candidate.getPageWithForm().getId()} +
                                '/candidate/' + ${candidate.getId()} + '/delete' ">Supprimer</a>
                    <a th:if="${candidate.getStatus().equals('en attente')}" class="btn btn-primary"
                       th:href="'/association/' + ${candidate.getPageWithForm().getAssociation().getId()} +
                                '/' + ${candidate.getPageWithForm().getType()} +
                                '/' + ${candidate.getPageWithForm().getId()} +
                                '/form/' + ${candidate.getForm().getId()} + '/showForm' ">Éditer</a>
                    <a th:if="${!candidate.getStatus().equals('en attente')}"
                       th:class="'ajax-btn btn btn-' + ((${candidate.getStatus().equals('accepté')}) ? 'success' : 'danger')"
                       th:href="'/association/' + ${candidate.getPageWithForm().getAssociation().getId()} +
                                '/' + ${candidate.getPageWithForm().getType()} +
                                '/' + ${candidate.getPageWithForm().getId()} +
                                '/candidate/' + ${candidate.getId()} + '/dismiss' ">Valider</a>

                </div>
            </div>
        </div>
    </div>
    <div id="events" class="cardGroup">
        <h4>Événements :</h4>
        <div th:replace="fragments/showPage :: pageAll(${event}, 'Le ', 'event', 'dd/MM/yy à hh:mm')"></div>
    </div>
    <div id="publications" class="cardGroup">
        <h4>Publications :</h4>
        <div th:replace="fragments/showPage :: pageAll(${publication}, 'Posté le ', 'publication', 'dd/MM/YY')"></div>
    </div>
    <div id="jobVacancies" class="cardGroup">
        <h4>Postes vacants :</h4>
        <div th:replace="fragments/showPage :: pageAll(${jobVacancy}, 'Jusqu\'au ', 'jobVacancy', 'dd/MM/yy à hh:mm')"></div>
    </div>
</div>
<script th:src="@{/js/showCandidates.js}"></script>
</body>
</html>