<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<p>
<h1>Result</h1>
<p th:text="'prénom: ' + ${user.firstName}"></p>
<p th:text="'nom: ' + ${user.lastName}"></p>
<p th:text="'numéro etudiant: ' + ${user.getNumber()}"></p>
<th:block th:if="${user.getMembers().size() > 0}">
    <P>Membre</P>
    <th:block th:each="member: ${user.getMembers()}">
        <p th:text="'Name: ' + ${member.getAssociation().getName()}"></p>
        <p th:text="'Description: ' + ${member.getRole()}"></p>
    </th:block>
</th:block>

<a href="/addAssociation">add another association</a>
</body>
</html>