<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="formPage(dataMap)">
    <label for="titleInput">Titre: </label><input id="titleInput" type="text" class="form-control" name="name" th:value="${dataMap.get('name')}"/>
    <label for="textareaInput">Description: </label><textarea class="form-control" name="content"
                                                              id="textareaInput" th:text="${dataMap.get('content')}"></textarea>
</div>
</body>
</html>