<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="pageAll(formPageObjects, date, type, dateFormat)">
    <div class="bigCard" th:each="formPageObject: ${formPageObjects}" th:with="cond = ${date == ''}">
        <h5 class="card-title" th:text="${formPageObject.getName()}"></h5>
        <div class="card">
            <p class="card-text" th:text="${formPageObject.getContent(300)}"></p>
            <div class="cardFooter">
                <div th:if="${date!=''}">
                    <p class="card-text" th:text="${date} + ${formPageObject.getEndDateString(dateFormat)}"></p>
                </div>

                <a th:if="${type != ''}" class="btn btn-primary"
                   th:href="'/association/' + ${formPageObject.getAssociation().getId()} + '/' + ${type} + '/' + ${formPageObject.getId()}">En
                    savoir plus</a>
                <a th:if="${type == ''}" class="btn btn-primary ml-auto"
                   th:href="'/association/' + ${formPageObject.getId()}">En savoir plus</a>

            </div>
        </div>
    </div>
</div>
</body>
</html>