<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="pageAll(formPageObjects, name, content, date, type)">
    <div class="card" th:each="formPageObject: ${formPageObjects}" th:with="cond = ${date == ''}">
        <h5 class="card-title" th:text="${name} + ' : ' + ${formPageObject.getName()}"></h5>
        <p class="card-text" th:text="${content} + ' : ' + ${formPageObject.getContent()}"></p>
        <div th:if="${date!=''}">
            <p class="card-text" th:text="${date} + ' : ' + ${formPageObject.getEndDate()}"></p>
        </div>
        <a class="btn btn-primary" th:href="'/association/' + ${formPageObject.getAssociation().getId()} + '/' + ${type} + '/' + ${formPageObject.getId()}">En savoir plus</a>
    </div>
</div>
</body>
</html>