<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="fuck">fuck it</div>
<div th:fragment="pageNotForm(formPageObject, name, content)">
    <p th:text="${name} + ' : ' + ${formPageObject.getName()}"></p>
    <p th:text="${content} + ' : ' + ${formPageObject.getContent()}"></p>
</div>

<div th:fragment="pageForm (formPageObject, name, content, date)">
    <div th:replace="fragments/showPage :: pageNotForm(formPageObject=${formPageObject}, name=${name}, content=${content})"></div>
    <p th:text="${date} + ' : ' + ${formPageObject.getEndDate()}"></p>
</div>

<div th:fragment="pageAll(formPageObjects, name, content, date)">
    <div style="border: black 1px solid" th:each="formPageObject: ${formPageObjects}" th:with="cond = ${date == ''}">
        <div th:if="${date==''}">
            <div th:replace="fragments/showPage :: pageNotForm (formPageObject=${formPageObject}, name=${name}, content=${content})"></div>
        </div>
        <div th:if="${date!=''}">
            <div th:replace="fragments/showPage :: pageForm (formPageObject=${formPageObject}, name=${name}, content=${content}, date=${date})"></div>
        </div>
    </div>
</div>
</body>
</html>