.card .btn{
    width: fit-content;
    width: -moz-fit-content;
}

.cardFooter{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cardFooter div{
    display: inline-block;
}

.cardGroup{
    width: 29rem;
    margin: 1rem;
}

.dashboard{
    margin-top: 1rem;
}