.card{
    padding: 0 1rem 1rem;
    border: none !important;
}

.card .btn{
    width: fit-content;
    width: -moz-fit-content;
    float: right;
}
.bigCard{
    background-color: white;
    border-radius: .25rem;
    margin: 1rem 0;
}
.cardFooter{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cardFooter div{
    display: inline-block;
}

.card-title{
    border-bottom: solid black .05rem;
    padding: 1rem;
}

.cardGroup{
    width: 30rem;
    margin: 1rem;
}

.dashboard{
    margin-top: 1rem;
}