.formBlock {
    width: 30rem;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 0.8rem;
}

.formBlock img{
    display: block;
    margin: auto;
}
.formBlock label {
    color: rgba(255, 255, 255, .75);
}

.btn{
    margin: 0.7rem auto;
    display: block;
}