<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${publication.getName()}"></title>
</head>
<body>
<div th:replace="fragments/header"></div>
<h1 class="mx-auto my-2 w-75" style="width: -moz-fit-content" th:text="${publication.getName()}"></h1>
<div th:if="${member != null}" class="d-flex justify-content-center mx-auto my-2">
    <a th:if="${member.canEditPublication()}" class="my-2 mx-2 btn btn-warning"
       th:href="'../editPublication/' + ${publication.getId()}">Éditer</a>
    <a th:if="${member.canManageMembers() && publication.hasForm()}" class="my-2 mx-2 btn btn-success"
       th:href="${publication.getId()} + '/showCandidates'">Voir les candidatures</a>
</div>
<div class="w-75 mx-auto">
    <p th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(publication.getContent()),'\n','&lt;br /&gt;'))}">
    <p th:text="'Posté le ' + ${publication.getEndDateString('dd/MM/yy')}"></p>
</div>
<a th:if="${publication.hasForm()}" th:href="${publication.getId()} + '/form/' + ${publication.getForm().getId() + '/edit'}" class="mx-auto btn btn-primary">Remplir le
    formulaire</a>
</body>
</html>